main {
    width: 100vw;
    height: 750px;
    background-image: url("../assets/images/background/intro.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro {
    padding-top: 120px;
    max-width: 1040px;
    margin-inline: auto;
    text-align: center;
}

#inner-intro-container {
    max-width: 680px;
    margin-inline: auto;
}

#avatar {
    position: relative;
    margin: 8px auto;
    padding-bottom: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#code-icon {
    position: absolute;
    top: 55%;
    left: 54%;
    transform: translate(-50%, -50%);
    max-width: 32px;
}

#circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 2px solid var(--color-red);
}

#circle img {
    width: 87.27px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

h2 {
    font-size: 20px;
    color: var(--gray-500);
    margin-bottom: 8px;
}

h1 {
    font-size: 56px;
    font-weight: bold;
    color: var(--gray-600);
}

p {
    font-size: 16px;
    color: var(--gray-400);
    max-width: 680px;
    margin: 0 auto;
}
